body {
    background-image: url(/backgrounds/innerspeaker_background.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.home-button {
    display: inline-flex;
    align-items: center;
    padding: 10px 15px;
    background-color: rgb(25, 85, 106);
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    position: absolute;
}

.home-button svg {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

#Innerspeaker {
    width: 300px;
    height: 300px;
    margin: 50px 0 30px 10px;
    box-shadow: 10px 5px 5px #788817;
}

h1 {
    color: #788817;
    margin: -300px 0 0 400px;
    text-shadow: 10px 5px 5px rgb(27, 128, 146);
    background-color: rgb(25, 85, 106);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

h2 {
    color: #788817;
    margin: 0 0 0 400px;
    background-color: rgb(25, 85, 106);
}

h3 {
    color: #788817;
    margin: 0 0 0 400px;
    background-color: rgb(25, 85, 106);
}

#ratings {
    margin: 0 0 0 400px;
    font-weight: 1000;
    color: #788817;
    background-color: rgb(25, 85, 106);
}

#description{
    margin: 0 0 0 400px;
    font-weight: 800;
    font-family:'Courier New', Courier, monospace;
    color: #788817;
    background-color: rgb(25, 85, 106);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.music_list {
    border: 2px solid ;
    line-height: 30px;
    margin: 100px 0 0 10px;
    font-weight: 700;
    color: #788817;
    cursor: pointer;
    background-color: rgb(25, 85, 106);
    border-radius: 20px;
}

.music{
    position: relative;
    left: -25px;
}
.music::-webkit-media-controls-panel{
    background-color: #788817;
}

::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #788817; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #788817; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #788817; 
}

.lyrics.open {
    max-height: 300px;
    padding: 20px;
}

.text{
    padding-left: 5px;
    text-indent: 64px;
    margin: -50px 0;
}

#lyrics1, #lyrics2, #lyrics3, #lyrics4, #lyrics5, #lyrics6, #lyrics7, #lyrics8, #lyrics9, #lyrics10, #lyrics11, #lyrics12, #lyrics13, #lyrics14, #lyrics15, #lyrics16, #lyrics17, #lyrics18, #lyrics19, #lyrics20  {
    display: none;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #788817;
    background-color: rgb(25, 85, 106);
    max-height: 400px;
    max-width: 700px;
    overflow-y: auto;
    white-space: pre-wrap;
}

#Innerspeaker_remix {
    width: 300px;
    height: 300px;
    margin: 50px 0 0 10px;
    box-shadow: 10px 5px 5px #788817;
}

.music_list_remixes {
    border: 2px solid ;
    line-height: 30px;
    margin: 170px 0 0 10px;
    font-weight: 700;
    color: #788817;
    cursor: pointer;
    background-color: rgb(25, 85, 106);
    border-radius: 20px;
}

#Innerspeaker_Anniversary{
    width: 300px;
    height: 300px;
    margin: 50px 0 0 10px;
    box-shadow: 10px 5px 5px #788817;
}

.music_list_anniversary{
    border: 2px solid ;
    line-height: 30px;
    margin: 170px 0 0 10px;
    font-weight: 700;
    color: #788817;
    cursor: pointer;
    background-color: rgb(25, 85, 106);
    border-radius: 20px;
}

#aftertext{
    font-weight: 1000;
    font-family: 'Courier New', Courier, monospace;
    margin: 20 0 0 40px;
    color: #788817;
    background-color: rgb(25, 85, 106);
}


